<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'hello_world' %}">Home</a></li>
                <li><a href="{% url 'rechercher_smartphones' %}">Rechercher smartphones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Jumia Smartphones</p>
    </footer>
</body>
</html>